@import '../../styles/variables.scss';

.gallary {
  display: flex;
  flex-direction: column;
  gap: 48px;
  &__title {
    @include fontMain;
    @include fontStyle(36px, $blackMainColor, 44px, 600);
    text-align: left;
    @media (max-width: 900px) {
      font-size: 28px;
    }
  }
  &__images {
    display: flex;
    gap: 24px;
    @media (max-width: 1420px) {
      gap: 8px;
    }
    @media (max-width: 1400px) {
      align-items: center;
      flex-direction: column;
      gap: 24px;
    }
  }
  &__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__right {
    @extend .gallary__left;
    grid-template-columns: 0.5fr 0.5fr;
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
  &__first {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    @media (max-width: 900px) {
      width: 324px;
      height: 243px;
      overflow: hidden;
      grid-column: 1;
      grid-row: 1;
    }
  }
  &__second {
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__third {
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__fourth {
    grid-column: 1 / 3;
    grid-row: 1;
    @media (max-width: 900px) {
      width: 324px;
      height: 243px;
      overflow: hidden;
      border-radius: 8px;
      grid-column: 1;
    }
  }
  &__fifth {
    grid-column: 1;
    grid-row: 2;

  }
  &__sixth {
    grid-column: 2;
    grid-row: 2;
    @media (max-width: 900px) {
      grid-column: 1;
      grid-row: 3;
    }
  }
  &__seventh {
    grid-column: 1/3;
    grid-row: 3;
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__crop {
    @media (max-width: 900px) {
      width: 688px;
      height: 246px;
      margin: 0 0 0 -184px;
    }
  }
}