@import '../../styles/variables.scss';

.feedback {
  width: 100%;
  @include flexCenter;
  flex-direction: column;
  padding: 48px 190px;
  background: $bgGrad;
  gap: 48px;
  margin-bottom: 96px;
  &__title {
    @include fontMain;
    @include fontStyle(36px, $blackMainColor, 44px, 600);
    text-align: left;
  }
  &__text {
    @include fontMain;
    @include fontStyle(21px, $blackMainColor, 140%, 400);
    text-align: center;
  }
  &__fields {
    @include flexCenter;
    gap: 19px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}

.success {
  width: 100%;
  @include flexCenter;
  padding: 182px 356px;
  background: $bgGrad;
  gap: 24px;
  margin-bottom: 96px;
  &__text {
    @include fontMain;
    @include fontStyle(24px, $blueAccentColor, 140%, 600);
    text-align: left;
  }
}