@import '../../styles/variables.scss';

.main {
  width: 100%;
  height: 560px;
  @include flexCenter;
  background: url('../../assets/images/main_bg.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    height: 243px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    @media (max-width: 900px) {
      flex-direction: column;
      position: relative;
    }
  }
  &__text {
    padding-top: 14px;
    @media(max-width: 900px) {
      position: relative;
      z-index: 1;
      padding-top: 243px;
    }
  }
  &__title {
    @include fontMain;
    @include fontStyle(48px, $whiteMainColor, 59px, 700);
    text-align: left;
    text-transform: uppercase;
    background: $blueAccentColor;
    padding: 12px 18px;
    height: fit-content;
    border-radius: 8px 8px 8px 0px;
    @media (max-width: 900px) {
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__subtitle {
    width: fit-content;
    @extend .main__title;
    color: $blueAccentColor;
    background: $whiteMainColor;
    border-radius: 0px 0px 8px 8px;
  }
  &__img {
    padding-top: 66px;
    padding-right: 125px;
    @media (max-width: 900px) {
      padding: 0;
      width: 170px;
      height: 228px;
      justify-self: flex-start;
      position: absolute;
      bottom: 60px;
    }
  }
}