@import '../../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  @include fontMain;
  @include fontStyle(21px, $whiteMainColor, 140%, 400);
  text-align: left;
  padding: 12px 18px;
  border: 0;
  background: $blueAccentColor;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background: $menuHover;
  }
  @media (max-width: 900px) {
    font-size: 18px;
  }
}