@import '../../styles/variables.scss';

.laboratory {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 48px 0px;
  background: $bgGrad;
  @media (max-width: 900px) {
    padding: 48px 18px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 1400px;
    @media (max-width: 1024px) {
      gap: 36px;
    }
    @media (max-width: 900px) {
      width: 360px;
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 24px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 18px
  }
  &__title {
    @include fontMain;
    @include fontStyle(36px, $blackMainColor, 44px, 600);
    text-align: left;
  }
  &__desc {
    @include fontMain;
    @include fontStyle(21px, $blackMainColor, 140%, 400);
    text-align: left;
    max-width: 1020px;
  }
}