* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body::-webkit-scrollbar {
  background: #E9EAF9;
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #737BE1;
  border-radius: 6px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}